<form [formGroup]="form">
    <label>Reference Month</label>
    <input
        type="month"
        min="2022-01"
        max="2025-12"
        formControlName="referenceMonth"
    >

</form>

@if (isLoading) {
    <div>
      Loading...
    </div>
}

@if (error) {
    <div class="error">
      {{ error }}
    </div>
}


@if (report$ | async; as report) {
  @if (report.length > 0) {
   <div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Employee</th>
        <th>Reference</th>
        
           @for (retentionMonth of report[0].retentionMonths; track retentionMonth.month) {
              <th>{{ retentionMonth.month  | date: 'MMM yyyy' }}</th>
            }
        
      </tr>
    </thead>
    <tbody>
      @for (row of report; track row.employeeId) {
        <tr>
          <td>{{ row.employeeName }}</td>
          <td>
            {{ row.referenceMonth.percentage }}% ({{ row.referenceMonth.clients }})
          </td>
          @for (retentionMonth of row.retentionMonths; track retentionMonth.month) {
            <td>{{retentionMonth.percentage}}%({{ retentionMonth.clients}} clients  )</td>
          }
        </tr>
      }
    </tbody>
  </table>
  </div>
 }  
  @else {
    @if (!error) {
    <div>
      No data available for the selected month.
    </div>
   }
 }
}
