<form [formGroup]="form">
    <label>Reference Month</label>
    <input
        type="month"
        min="2022-01"
        max="2025-12"
        formControlName="referenceMonth"
    >

</form>

@if (report$ | async; as report) {
  <table>
    <thead>
      <tr>
        <th>Employee</th>
        <th>Reference</th>
        @if (report.length > 0) {
           @for (retentionMonth of report[0].retentionMonths; track retentionMonth.month) {
              <th>{{ retentionMonth.month }}</th>
            }
        }
      </tr>
    </thead>
    <tbody>
      @for (row of report; track row.employeeId) {
        <tr>
          <td>{{ row.employeeName }}</td>
          <td>
            {{ row.referenceMonth.percentage }}% ({{ row.referenceMonth.clients }})
          </td>
          @for (retentionMonth of row.retentionMonths; track retentionMonth.month) {
            <td>{{retentionMonth.percentage}}%({{ retentionMonth.clients}} clients  )</td>
          }
        </tr>
      }
    </tbody>
  </table>
}
